<h1>Galleries</h1>

<div class="gallery-wrapper">
<%= for gallery <- @galleries do %>
  <div>
    <%= RegalWeb.GalleryView.gallery_thumbnail(@conn, gallery) %>
    <p><%= link gallery.name, to: Routes.gallery_path(@conn, :show, gallery) %></p>
  </div>
<% end %>
</div>

<span><%= link "New Gallery", to: Routes.gallery_path(@conn, :new) %></span>
