<h1><%= @gallery.name %></h1>

<span><%= link "Edit", to: Routes.gallery_path(@conn, :edit, @gallery) %></span>
<span><%= link "Back", to: Routes.gallery_path(@conn, :index) %></span>

<div class="gallery-wrapper">

  <%= for picture <- @pictures do %>
  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="<%= Routes.picture_path(@conn, :raw, picture.external_id) %>">
      </div>
    </div>
  </div>
  <% end %>

</div>