/* This file is for your main application css. */
@import "./phoenix";
@import "./gallery";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

/* Alerts and form errors */
body {
  background-color: #333333;
  color: #cccccc;
}

a {
  color: #77bbff;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #111;
}

.icon-inline {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.tag-list-wrapper {
  display: grid;
  justify-content: start;
  justify-items: start;
  align-items: start;
  grid-auto-flow: column;
  margin-bottom: 1.5em;
}

.tag-list-wrapper > * {
  margin-right: 0.5em;
}