/* This file is for your main application css. */
@import "./phoenix.css";
@import "./gallery";

/* Alerts and form errors */
body {
  background-color: #333333;
  color: #cccccc;
}

a {
  color: #77bbff;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navbar div:not(:first-child) {
  border-left: #606c76 1px solid;
  padding-left: 3em;
}

.navbar div:not(:last-child) {
  padding-right: 3em;
}