<div class="gallery-container w-1 h-1">
  <div class="gallery-item">
    <div class="image">
      <a href="<%= Routes.picture_path(@conn, :show, @picture) %>">
        <img src="<%= Routes.picture_path(@conn, :thumb, @picture.external_id) %>">
      </a>
    </div>
  </div>
</div>