<h1>New Gallery picture</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.gallery_picture_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.gallery_picture_path(@conn, :index) %></span>
